@import "tailwindcss";



body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Public Sans',
    system-ui,
    sans-serif;
}

*{
  box-sizing: border-box;
}

@layer components {
  .nav-link {
      border-bottom: 2px solid white;

      &:hover {
        border-bottom: 4px solid #33D35E;
    }
  }

  .footer-link {
    display: block;
    color: white;

    &:hover {
      color: #33D35E;
    }
  }

}
